/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */
.navbar {
    background-color: #000,0.2;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style-type: none;
}

/* Hero Section */
/* .hero {
    min-height: 100vh;
}

.hero h1 {
    font-size: 48px;
    line-height: 1.2;
}

.hero .btn-primary {
    background-color: #0066ff;
    border-color: #0066ff;
}

.hero .btn-outline-light {
    border-color: #fff;
    color: #fff;
} */

.bannar {
    background-color: gray;
}
.hero-text{
    position: absolute;
    padding-top: 17.5rem;
}

/* Mark Section */
.mark_section h2 {
    font-size: 36px;
    font-weight: bold;
}

.mark_section p {
    font-size: 18px;
    margin-bottom: 40px;
}
/* 
/* Services Section */
.services .card {
    background-color: #f0f0f0;
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.services .card:hover {
    transform: scale(1.05);
}

.services h2 {
    font-size: 36px;
    margin-bottom: 40px;
} */


/* Services Section */
.services {
    padding: 50px 20px;
    background-color: #f9f9f9;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.service {
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    width: 30%;
    transition: transform 0.3s;
}

.service:hover {
    transform: translateY(-10px);
}

.icon {
    margin-bottom: 20px;
}

.icon img {
    width: 50px;
    height: 50px;
}

h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}

/* Footer */
footer {
    background-color: #000;
    color: #fff;
}
